# Database Setup
spring.datasource.url=jdbc:h2:mem:proddb
spring.datasource.username=sa
spring.datasource.password=
spring.datasource.driverClassName=org.h2.Driver

# h2 console
spring.h2.console.enabled=true

# JPA setup
# set spring.jpa.hibernate.ddl-auto to create for initital run, update for subsequent
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect

# allow error message to appear in HTTP response, defaults to never
server.error.include-message=always

# actuators
management.endpoints.web.exposure.include=health, info, metrics
management.endpoint.metrics.enabled=true

# keycloak
keycloak.enabled=false
keycloak.realm=
keycloak.auth-server-url=
keycloak.ssl-required=external
keycloak.resource=
keycloak.credentials.secret=
keycloak.use-resource-role-mappings=true
keycloak.enable-basic-auth=true
keycloak.cors=false
keycloak.bearer-only=true
keycloak.security-constraints[0].authRoles[0]=*
keycloak.security-constraints[0].securityCollections[0].patterns[0]=/api/*